<div class="col-md-3">
    <div class="card movie-card">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{category}}</h6>
            <p class="card-text">
                <strong>Nota:</strong> {{price}} / 10<br>
                <strong>Idioma:</strong> {{color}}<br>
            </p>
            <button class="btn btn-primary favorite-btn" data-movie='{{movie}}'>Favoritar</button>
        </div>
    </div>
</div>
